* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Public Sans', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  z-index: 3;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
  height: 50px;
  background: white;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center .request-btn {
  display: none;
}

.hero-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-ul {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  display: none;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-ul li {
  list-style: none;
}

.nav-ul li a {
  color: #9698a6;
  text-decoration: none;
}

.bar {
  width: 20px;
  height: 1px;
  background: black;
  margin-bottom: 3px;
}

.nav-icon {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-toggle-one {
  -webkit-transform: rotate(130deg) translateY(-0.1px) translateX(3px);
          transform: rotate(130deg) translateY(-0.1px) translateX(3px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-toggle-two {
  -webkit-transform: rotate(-130deg) translateY(-0.5px) translateX(2px);
          transform: rotate(-130deg) translateY(-0.5px) translateX(2px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.bar {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-toggle-three {
  display: none;
}

.nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 150px;
  background: white;
  width: 300px;
  right: 50px;
  border-radius: 10px;
}

.nav-toggle li a {
  color: #2d314d;
}

.nav-toggle li:nth-of-type(1) {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-toggle li:nth-of-type(2), .nav-toggle li:nth-of-type(3), .nav-toggle li:nth-of-type(4), .nav-toggle li:nth-of-type(5) {
  padding-bottom: 20px;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 120px;
}

.hero-section {
  background-image: url(/images/image-mockups.png), url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px, 550px;
  background-position: bottom;
  height: 450px;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 0 auto;
}

.hero-background-toggle {
  background-image: url(/images/bg-intro-mobile.svg);
  background-position: center;
}

.hero-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.hero-text h1 {
  font-size: 28px;
  margin: 0 auto;
  letter-spacing: 1.2px;
  color: #2d314d;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.hero-text h1 span {
  display: block;
}

.hero-text p {
  font-weight: 300;
  color: #9698a6;
  text-align: center;
  width: 90%;
  line-height: 23px;
  margin: 0 auto;
  padding: 20px 0px 30px 0px;
}

.btn {
  width: 160px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

.btn-two {
  margin-bottom: 10px;
}

.choose-easybank {
  background: #fafafa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.choose-easybank h1 {
  margin: 0 auto 18px;
  font-weight: 500;
  color: #2d314d;
  text-align: center;
}

.choose-easybank p {
  margin: 0 auto;
  font-weight: 300;
  color: #9698a6;
  width: 400px;
  text-align: center;
  line-height: 25px;
}

.why-choose {
  margin-bottom: 50px;
  padding-top: 50px;
}

.why-choose p {
  padding: 0px 5px;
}

.flex {
  margin-bottom: 20px;
}

.flex img {
  display: block;
  text-align: center;
  margin: 0 auto 15px;
}

.articles {
  background: #fafafa;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-bottom: 70px;
}

.articles h1 {
  margin: 0 auto 18px;
  font-weight: 700;
  color: #2d314d;
  text-align: center;
  font-size: 28px;
  padding-top: 50px;
}

.articles img {
  width: 350px;
  display: block;
}

.article {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto 30px;
  background: white;
  width: 350px;
}

.article p {
  font-weight: 300;
}

.article p:nth-of-type(1) {
  padding: 15px 20px 10px;
  color: #9698a6;
  font-size: 12px;
}

.article p:nth-of-type(2) {
  padding: 0px 20px 10px;
  color: #2d314d;
}

.article p:nth-of-type(3) {
  padding: 0px 20px 20px;
  color: #9698a6;
}

.footer {
  background: #2d314d;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer ul {
  font-weight: 300;
  margin-bottom: 20px;
}

.footer ul li {
  font-weight: 300;
  list-style: none;
  padding-bottom: 10px;
}

.footer ul li a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.footer img {
  margin: 0 auto;
}

.footer .btn {
  margin-bottom: 20px;
}

.footer p {
  color: #9698a6;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
  margin: 25px auto 20px;
}

.socials img {
  cursor: pointer;
}

@media screen and (min-width: 978px) {
  .header {
    padding: 10px 60px;
  }
  .nav-icon {
    display: none;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
  }
  .nav-ul li a {
    font-weight: 300;
  }
  .header-center .request-btn {
    display: block;
    width: 160px;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 100px;
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background: linear-gradient(to right, #31d35c, #2bb7da);
  }
  .header-center .request-btn a {
    color: white;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    overflow: hidden;
    width: 1050px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section {
    background-image: url(/images/image-mockups.png), url(/images/bg-intro-desktop.svg);
    width: 100%;
    margin: 0 auto;
    background-position-x: 80px, 30px;
    background-position-y: -90px, -90px;
    right: 0;
    height: 600px;
    z-index: 1;
    position: relative;
  }
  .hero-text {
    margin: 20px auto;
    text-align: left;
  }
  .hero-text h1 {
    text-align: left;
    margin: 0 auto;
  }
  .hero-text p {
    text-align: left;
    margin: 0 10px;
  }
  .hero-text a {
    margin: 0px;
  }
  .hero-two {
    width: 40%;
    margin: 0px 40px;
    text-align: left;
  }
  .choose-easybank {
    top: -150px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .why-choose {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin: 0px auto 10px;
  }
  .why-choose h1 {
    text-align: left;
    width: 82vw;
    max-width: 1350px;
  }
  .why-choose p {
    width: 82vw;
    max-width: 1350px;
    text-align: left;
  }
  .flex-easybank {
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 90vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex {
    width: 250px;
    margin: 10px auto;
    padding-right: 20px;
    text-align: left;
  }
  .flex h1 {
    text-align: left;
  }
  .flex p {
    text-align: left;
    width: 250px;
  }
  .flex img {
    margin: 20px 0px;
  }
  .flex-articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article {
    width: 300px;
  }
  .article img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (min-width: 1208px) {
  .hero {
    width: 1200px;
    overflow: hidden;
  }
  .hero-section {
    margin-left: 150px;
  }
}

@media screen and (min-width: 1350px) {
  .hero {
    width: 1300px;
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */